services:
  postgres:
    image: postgres:16-alpine
    container_name: smart_task_manager_db
    environment:
      POSTGRES_DB: smart_task_manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d smart_task_manager"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: