spring:
  application:
    name: smart-task-manager

  datasource:
    url: jdbc:postgresql://localhost:5433/smart_task_manager
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    baseline-version: 0
    clean-disabled: true
    baseline-description: "Initial baseline"
    sql-migration-prefix: V
    sql-migration-separator: __
    sql-migration-suffixes: .sql

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC

logging:
  level:
    org.flywaydb: DEBUG

server:
  port: 8080
